.nav ul{
    display : flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 1px;
    padding: 0;
    background-color: gray;
    border-radius: 25px;
}
.nav li{
    display: inline-block;
    margin: 5px;

}
.nav a:hover{
    background-color: chartreuse;
}

.img{
    max-height: 40px;
    max-width: 40px;
}
.small-img{
    max-height: 1em;
    max-width: 1em;
}
.main-login{
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    line-height: 160%;
}
.nav a{
    text-decoration: none
}

.no-underline{
    text-decoration: none
}
.textinput{
    margin-bottom: 4px;
}
.button{
    background-color: royalblue;
    color: white;
}
.post-maker{
    display: flex;
    align-items: flex-start;
}
.wrap-label{
    white-space: pre-wrap;
}
input[type="file"] {
    display:none
}
.file-label{
    color: white;
    background-color: darkgray;
    display: flex;
}
.posts{
    display: flex;
    flex-direction: column;
}
.post{
    width: 30%;
    background-color: gray;
    padding: 3px;
    border-radius: 25px;
    min-height: 5em;
    margin-bottom: 1em;
}
.post li{
    display: inline-block;
    margin: 5px;
}
.post ul{
    display : flex;
    align-items: stretch;
    justify-content: space-between;
}
.post-text{
    text-align: left;
    margin: 1em;
}