.nav ul{
    display : flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 1px;
    padding: 0;
    background-color: gray;
    border-radius: 25px;
}
.nav li{
    display: inline-block;
    margin: 5px;

}
.nav a:hover{
    background-color: chartreuse;
}

.img{
    max-height: 40px;
    max-width: 40px;
}
.main-login{
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
    line-height: 160%;
}
.nav a{
    text-decoration: none
}

.no-underline{
    text-decoration: none
}
.textinput{
    margin-bottom: 4px;
}
.button{
    background-color: royalblue;
    color: white;
}